*.tar.gz
*.tar
*.dsp
amrex-master/Tutorials/Basic/MarkerLS_Jihua/Exec/Backtrace*
amrex-master/Tutorials/Basic/MarkerLS_Jihua/Exec/plt*
autodiff/*.tar.gz
autodiff/examples/*.o
autodiff/examples/*.ex
autodiff/examples/make.out
autodiff/examples/plt*
autodiff/examples/Backtrace*
autodiff/examples/tmp_build_dir
autodiff/examples/test_AD
autodiff/examples/inverse_advection
autodiff/examples/closest_point
GPU_TUTORIAL/tmp_build_dir
GPU_TUTORIAL/CNS3d*
GPU_TUTORIAL_LINEAR/tmp_build_dir
GPU_TUTORIAL_LINEAR/CNS3d*
NS_fluids_lib/tmp_build_dir
NS_fluids_lib/test
NS_fluids_lib/amr*
NS_fluids_lib/run2d/test*
NS_fluids_lib/run3d/test*
mof_ml_Zhouteng/*.o
mof_ml_Zhouteng/*.exec
mof_ml_Zhouteng/*.dat
markerLS/Exec/tmp_build_dir
markerLS/Exec/main*
TAGS
tags
*~
