*.tar.gz
*.tar
*.dsp
BLAS
autodiff/*.tar.gz
autodiff/adept-2.0.5
autodiff/examples/*.o
autodiff/examples/test_AD
NS_fluids_lib/tmp_build_dir
NS_fluids_lib/test
NS_fluids_lib/amr*
NS_fluids_lib/run2d/test*
NS_fluids_lib/run3d/test*
TAGS
tags
*~
