*.mod
*.o
wavedata*
temp
test*
*.tec
run*.out
run.out
run.err
run64.out
run128.out
ratio1000corner/
ratio1000smooth/
ratio1corner/
ratio1smooth/
annulus_thick_neumann/
annulus_thin_neumann/
multiscale/
pentafoil/
polar_solver/
hypo2/
hypo6_iii/
planar_freeze/
gingerbread/
icemelt/
shrinkingcircle/
