# comment line
a.out
contactangle/
SonDhir99/
curvature_converge/
zalesak/
testbubble/
freezing_singularity/
bubble_formation/
bubble_jetting/
dropletimpact/
Earth_Grav_Water_Dhir_2001/
Dhir_1999/
Reduced_Grav_Qiu_etal/
Micro_Grav_PFH/
Micro_Grav_PFH_local/
Nucleate_Grid_Refine/
Nucleate_Slant_Refine/
cavity_surface/
ctest/
boiling_flag/
rieber/
Drop-impact/
shockdrop/
shockcolumn/
sphere_cavitation/
cavitation/
cavitation_benchmark/
SeigelReduced/
stratified_drop_impact/
Huber_boiling/
Nucleate_Compressible/
diesel/
block_ice_melt/
flapping_wing/
turbulent_pipe/
testbubble/
SOD/
IWPI2018/
Nucleate_Test/
De1_cusp_cap/
De5_cusp_cap/
jwl2b/
liquidlens/
FSI_test/
Dhir_outflow/
Dhir_Vertical_Wall_outflow/
swirl/
vortex_confine/
BCG/
BCG_periodic/
BCG_periodic_patch/
cavitation_benchmark2D/
cavitation_step/
splashing_rigid_object/
sinking_ball/
sinking_particle/
jetbend/
cone2D/
wavychannel/
mehdi_sphere/
Mukherjee/
